---
title: Projects
---
<ul class="project-list">
  {% for project in site.data.projects %}
	<li>
	  <h2>{{ project.title }}
		 {% if project.url %}{% include icon id="external-link" href=project.url %}{% endif %}
	  </h2>
      {% if project.repo %}<a href="https://github.com/{{ project.repo }}">{% include icon id="github" %} Github</a>{% endif %}
	  {% if project.description %}{{ project.description | markdownify }}{% endif %}

	  {% if project.post %}
	  	{% assign post_link = project.post | prepend: "_posts/" | append: ".md" %}
		{% assign post = site.posts | where:"path",post_link %}
	    <a href="{{ post[0].url }}">read more...</a>
	  {% endif %}
	</li>
  {% endfor %}
</ul>
