---
title: Projects
layout: single
---

<ul id="project-list">
  {% for project in site.data.projects %}
	<li>
	  <h2>
      {% if project.url %}
        <a href="{{ project.url }}">{{ project.title }} <i class="fas fa-external-link-alt"></i></a>
      {% else %}
        {{ project.title }}
      {% endif %}
      {% if project.repo %}
        <a href="https://github.com/{{ project.repo }}"><i class="fab fa-github"></i></a>
      {% endif %}
	  </h2>

	  {% if project.description %}{{ project.description | markdownify }}{% endif %}

	  {% if project.post %}
	  	{% assign post_link = project.post | prepend: "_posts/" | append: ".md" %}
		{% assign post = site.posts | where:"path",post_link %}
	    <a href="{{ post[0].url }}">read more...</a>
	  {% endif %}
	</li>
  {% endfor %}
</ul>
