#project-list {
	list-style-type: none;
	margin: 0;

	li {
        display: block;
        float: left;

        margin: $spacing-unit / 2;
        width: calc(33% - #{$spacing-unit});
        @include media-query($on-tablet){
            width: calc(50% - #{$spacing-unit});
        }
        @include media-query($on-mobile){
            width: calc(100% - #{$spacing-unit});
        }

        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
        transition: box-shadow 0.3s ease-in-out;
        &:hover {
            box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
        }

		h2 {
			margin: 0;
            font-size: 24px;
		}
	}
}
